.characteristic{
  font-weight: 500;
  font-size: medium;
  margin-bottom: 1%;
}

.graphText {
  display: inline-block;
  text-decoration: underline;
  white-space: nowrap;
}

.barDimensions {
  background-color: #8acabf;
  color: #163a49;
  position: relative;
  height: 17px;
  width: 100%;
  position: relative;
}

.barDimensionsDark {
  background-color: #1E556C;
  position: relative;
  height: 17px;
  width: 100%;
  position: relative;
}

.barMarker {
  display: inline-block;
  position: relative;
  background-color: #37a492;
  color: transparent;
}

.barMarkerDark {
  display: inline-block;
  position: relative;
  background-color: #3C7883;
  color: transparent;
}

.barDisplay {
  z-index: 1;
  display: inline-block;
  position: relative;
}

.ratings {
  display: flex;
  font-size: small;
  justify-content: space-between;
  margin-bottom: 6%;
}