.main {
  background-color: #62b3a5;
}

.characteristic{
  margin-bottom: 2%;
}

.graphText {
  display: inline-block;
  text-decoration: underline;
  white-space: nowrap;
}

.barDimensions {
  background-color: #aae3d9;
  position: relative;
  height: 15px;
  width: 100%;
  position: relative;
}

.barMarker {
  display: inline-block;
  position: relative;
  background-color: #62b3a5;
  color: #62b3a5;
}

.barDisplay {
  z-index: 1;
  display: inline-block;
  position: relative;
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6%;
}

.ratingName {
}