.header {
  margin-top: 50px;
}

.mainBody {
  display: flex;
  width: 100%;
  margin: auto;
}

.ratings {
  width: 30%;
}

.reviews {
  width: 70%;
}

.reviewMain {
  background-color: #62b3a5;
  display: block;
  margin-left: 5%;
}