.header {
  margin-top: 50px;
  margin-left: 9.8%;
}

.mainBody {
  display: flex;
  width: 100%;
  margin: auto;
}

.ratings {
  margin-left: 10%;
  width: 30%;
}

.reviews {
  margin-left: 5%;
  margin-right: 10%;
  width: 70%;
}