.reviewList {
  margin-top: 2%;
  padding: 15px 0 5px 0;
  max-height: 80vh;
  max-width: 95vh;
  overflow-y: auto;
}

.moreReviews, .moreReviewsDark {
  margin-top: 1%;
  margin-bottom: 1%;
  border: solid 1px;
  font-weight: 600;
  margin-right: 2%;
  padding: 15px;
}

.moreReviews {
  background-color: #3cad9a;
}

.moreReviewsDark {
  background-color: #548C93;
}

.moreReviews:hover {
  background-color: #4cc6b2;
}

.moreReviewsDark:hover {
  background-color: #73A4A3;
}

.addReview, .addReviewDark {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color:#3cad9a;
  border: solid 1px;
  font-weight: 600;
  padding: 15px;
}

.addReview {
  background-color:#3cad9a;
}

.addReviewDark {
  background-color: #548C93;
}

.addReview:hover {
  background-color: #4cc6b2;
}

.addReviewDark:hover {
  background-color: #73A4A3;
}