.mainBody {
  display: block;
  background-color:#8acabf;
  border-bottom: solid 2px;
  margin-bottom: 2%;
  padding-left: -10%;
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.header {
  display: flex;
  justify-content: space-between;
}

.rating {
  padding: 5px 0 0 0;
}

.user {
  padding: 5px 0 0 0;
}

.summary {
  padding: 5px 0;
  font-weight: 600;
}

.body {
  padding: 5px 0;
  word-wrap: break-word;
  hyphens: auto;
}

.recommend {
  padding: 5px 0;
}

.expand {
  font-weight: 600;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 2%;
}

.response {
  background-color: #7eb4aa;
  padding: 5px;
  margin-bottom: 1%;
}

.responseHeader {
  font-weight: 600;
}

.footer {
  margin-bottom: 2%;
}

.helpful {
  text-decoration: underline;
  background-color: transparent;
  margin-left: 1%;
  margin-right: .5%;
  border: 0;
}

.helpful:hover {
  background-color: #7eb4aa;
}

.report {
  text-decoration: underline;
  background-color: transparent;
  border: 0;
}

.report:hover{
  background-color: #7eb4aa;
}