.mainBody {
  display: block;
  background-color:#52d1bc;
  border-bottom: solid 2px black;
  margin-bottom: 2%;
}

.header {
  background-color: #4ea697;
  display: flex;
  justify-content: space-between;
}

.rating {
}

.user {
}

.summary {
  font-weight: 600;
}

.body {
  word-wrap: break-word;
}

.expand {
  font-weight: 600;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 2%;
}

.response {
  background-color: #aae3d9;
}

.footer {
  margin-top: 2%;
  margin-bottom: 2%;
}

.helpful {
  text-decoration: underline;
   margin-left: 2%;
   margin-right: 1%;
}

.helpful:hover {
  color: gold;
  cursor: default;
}

.report {
  text-decoration: underline;
}

.report:hover{
  color: gold;
  cursor: default;
}