.mainBody {
  display: block;
  background-color:#8acabf;
  border-bottom: solid 2px;
  margin-bottom: 2%;
  animation: fadeIn .6s;
}

.mainBodyDark {
  display: block;
  background-color: lightcoral;
  border-bottom: solid 2px thistle;
  margin-bottom: 2%;
  animation: fadeIn .6s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.rating {
  padding-top: 5px;
}

.user {
  padding-top: 5px;
}

.summary {
  padding: 5px;
  font-weight: 600;
}

.body {
  padding: 5px;
  word-wrap: break-word;
  hyphens: auto;
}

.recommend {
  padding: 0px 5px 5px 5px;
}

.expand {
  font-weight: 600;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 2%;
}

.response {
  background-color: #7eb4aa;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1%;
}

.responseDark {
  background-color: orange;
  padding: 5px;
  margin-bottom: 1%;
}

.responseHeader {
  font-weight: 600;
}

.footer {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 1%;
}

.helpful {
  text-decoration: underline;
  background-color: transparent;
  margin-left: 1%;
  margin-right: .5%;
  border: 0;
}

.helpful:hover {
  background-color: #7eb4aa;
}

.helpfulDark {
  color: chartreuse;
  background-color: violet;
  text-decoration: underline;
  background-color: transparent;
  margin-left: 1%;
  margin-right: .5%;
  border: 0;
}

.helpfulDark:hover {
  background-color: wheat;
}

.report {
  text-decoration: underline;
  background-color: transparent;
  border: 0;
}

.report:hover{
  background-color: #7eb4aa;
}

.reportDark {
  color: chartreuse;
  background-color: violet;
  text-decoration: underline;
  background-color: transparent;
  border: 0;
}

.reportDark:hover{
  background-color: wheat;
}