.sortMain {
  background-color: tomato;
}

.sortMethod {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}