.mainBody {
  padding: 5px 0px;
  max-width: 95vh;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.sortMethod {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
  outline-width: 0;
}

.sortMethodDark {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
  outline-width: 0;
  color: pink;
}

.queryInput {
  display: inline-block;
  background-color: transparent;
  outline-width: 0;
  border: 0;
  border-bottom: 1px solid;
}

.queryInputDark {
  display: inline-block;
  background-color: transparent;
  outline-width: 0;
  border: 0;
  border-bottom: 1px solid red;
  color: gold;
}

.queryInputDark::placeholder {
  color: red;
}

.body {
  display: flex;
  align-content: flex-end;
}

.starQuery {
  width: 100%;
  margin-left: -.5%;
}

.hiddenButton {
  background-color: transparent;
  color: transparent;
  border: solid 1px transparent;
  font-weight: 600;
}

.clearSort {
  background-color:#52d1bc;
  border: solid 1px;
  font-weight: 600;
}

.clearSort:hover{
  background-color: #4cc6b2;
}

.clearSortDark {
  background-color: green;
  border: solid 1px;
  font-weight: 600;
}

.clearSortDark:hover{
  background-color: blanchedalmond;
}

.clearQuery {
  background-color:#52d1bc;
  border: solid 1px;
  font-weight: 600;
  float: right;
  margin-right: -1%;
}

.clearQuery:hover{
  background-color: #4cc6b2;
}

.clearQueryDark {
  background-color:green;
  border: solid 1px;
  font-weight: 600;
  float: right;
  margin-right: -1%;
}

.clearQueryDark:hover{
  background-color: blanchedalmond;
}

.wordQuery {
  width: 100%;
}