.mainBody {
  padding: 5px 0 0 0;
  max-width: 95vh;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.sortMethod, .sortMethodDark {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
  outline-width: 0;
}

.sortMethodDark {
  color: #B6D8C4;
}

.queryInput, .queryInputDark {
  display: inline-block;
  background-color: transparent;
  outline-width: 0;
  border: 0;
}

.queryInput {
  border-bottom: 1px solid;
}

.queryInputDark {
  border-bottom: 1px solid #B6D8C4;
  color: #B6D8C4;
}

.queryInputDark::placeholder {
  color: #B6D8C4;
}

.body {
  display: flex;
  align-content: flex-end;
}

.starQuery {
  width: 100%;
  margin-left: -.5%;
}

.hiddenButton {
  background-color: transparent;
  color: transparent;
  border: solid 1px transparent;
  font-weight: 600;
}

.clearSort, .clearSortDark {
  border: solid 1px;
  font-weight: 600;
}

.clearSort {
  background-color:#3cad9a;
}

.clearSortDark {
  background-color: #548C93;
}

.clearSort:hover{
  background-color: #4cc6b2;
}

.clearSortDark:hover{
  background-color: #73A4A3;
}

.clearQuery, .clearQueryDark {
  border: solid 1px;
  font-weight: 600;
  float: right;
  margin-right: -1%;
}

.clearQuery {
  background-color:#3cad9a;
}

.clearQueryDark {
  background-color:#548C93;
}

.clearQuery:hover{
  background-color: #4cc6b2;
}

.clearQueryDark:hover{
  background-color: #73A4A3;
}

.wordQuery {
  width: 100%;
}