.cart {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sizeQty {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.addToCart {
  display: block;
  width: 100%;
}

.button {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color:#d1ece4;
  border: solid 1px;
  font-weight: 600;
  padding: 15px;
}

.button:hover {
  background-color: #b6d8d2;
}

.buttonDark {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #548C93;
  border: solid 1px;
  font-weight: 600;
  padding: 15px;
}

.buttonDark:hover {
  background-color: #73A4A3;
}