.productDesc {
  display: flex;
  padding: 20px 0;
  width: 90%;
  margin: auto;
}

.sloganDesc {
  display: block;
  width: 65%;
  padding-right: 10px;
}

.desc {
  margin-top: 10px;
}

.dividerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2px;
}

.divider {
  background: #666;
  height: 75%;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: calc(35% - 3px);
  letter-spacing: 1.0px;
  padding-left: 10px;
}