.productInfo {
  display: block;
}

.oldPrice {
  text-decoration: line-through;
}

.reviewsLink {
  padding-left: 10px;
  padding-bottom: 10px;
  display: inline-block;
  font-size: 10px;
  text-decoration: underline;
}

.reviewsLink:active {
  color: blue;
  text-shadow: 0px 0px 1px black;
}

.reviewsLink:hover {
  cursor: pointer;
}

.productName {
  display: flex;
  justify-content: left;
  align-items: center;
}

.addToOutfit {
  margin-left: 15px;
  height: fit-content;
  font-family: Times;
}

.addToOutfit:before {
  content: '\2665';
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #444;
}

.addToOutfitFav {
  margin-left: 15px;
  height: fit-content;
  font-family: Times;
}

.addToOutfitFav:before {
  content: '\2665';
  background: firebrick;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #444;
}