.style {
  display: table;
  border: 1px solid #111;
  border-radius: 50%;
  min-width: max(22%, 35px);
  max-width: 65px;
  aspect-ratio: 1 / 1;
  margin: 1.5px;
  background-size: cover;
  background-position: center;
  text-align: right;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 3px black;
  /* -webkit-text-stroke: 1px whitesmoke; */
  transition: transform 0.3s ease;
}

.style:hover {
  transform: scale(1.1);
}

.noThumb {
  display: table-cell;
  vertical-align: middle;
  color: #111;
  font-size: xx-small;
  font-weight: normal;
  text-shadow: none;
  -webkit-text-stroke: 0;
}
