.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .75);
}

.reviewForm {
  position: fixed;
  border: 2px white solid;
  display: flex;
  justify-content: center;
  z-index: 2;
  align-self: center;
  width: 30%;
  min-width: 500px;
  height: 70%;
  min-height: 650px;
  overflow: auto;
  background: linear-gradient(white, #e7f5f0 70px, #8bbfb4);
}

.header {
  align-self: center;
  padding: 5px 0 0 0;
  margin-top: -3%;
  margin-left: 1%;
}

.product {
  display: inline-block;
  font-weight: 600;
  color: rgb(30, 85, 109);
}

.thumbnails {
  margin-top: -2%;
  margin-bottom: 2%;
}

.submit {
  margin-left: 1%;
}

.cancel {
  margin-left: 5%;
}