.header {
  margin-bottom: 5px;
}

.subtitle, .subtitleDark {
  padding-bottom: 10px;
  display: inline-block;
  font-weight: 600;
}

.subtitle {
  color: #3C7883;
}

.subtitleDark {
  color: #548C93;
}

.question {
  font-style: italic;
}

.submit {
  margin-left: 1%;
}

.cancel {
  margin-left: 5%;
}

.minChars {
  display: inline-block;
  font-size: smaller;
  color: red;
}

.inputField {
  resize: none;
  columns: 600;
}

.buttons {
  padding-top: 10px;
}

.note {
  margin-left: 10px;
}

input, textarea {
  margin-left: 13px;
}