.header {
  margin-top: 50px;
  margin-bottom: 10px;
}

.mainBody {
  margin: auto;
  width: 80%;
}

.button, .buttonDark {
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: 600;
  margin-right: 2%;
  padding: 15px;
  white-space: nowrap;
}

.button {
  background-color: #3cad9a;
  border: solid 1px;
}

.buttonDark {
  background-color: #548C93;
  border: solid 1px;
}

.button:hover {
  background-color: #4cc6b2;
}

.buttonDark:hover {
  background-color: #73A4A3;
}

.addButtonContainer {
  position: relative;
  display: inline-block;
}
