.header {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

.mainBody, .mainBodyDark {
  display: block;
  border-bottom: solid 2px;
  margin-bottom: 2%;
  animation: fadeIn .6s;
}

.mainBody {
  background-color: #8acabf;
}

.mainBodyDark {
  background-color: #1E556C;
  border-color: #B6D8C4;
}

.summary {
  padding: 5px;
  font-weight: 600;
}

.moreAnswers, .moreAnswersDark {
  font-weight: 600;
  font-size: small;
  background-color: transparent;
  border: none;
  padding: 5px;
  transition: transform .2s linear;
}

.moreAnswers {
  padding-right: 20px;
}

.moreAnswersDark {
  color: #B6D8C4;
  padding-right: 25px;
}

.moreAnswers:hover {
  transform: scale(1.03);
  color: #0e4f4e
}

.moreAnswersDark:hover {
  transform: scale(1.03);
  color: #c2e7d7;
}

.noAnswers {
  padding: 5px 0 5px 25px;
  font-style: italic;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.questionActionBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 5px 0;
}

.questionActionBar > * {
  white-space: nowrap;
}

.helpful, .helpfulDark {
  text-decoration: underline;
  background-color: transparent;
  margin-left: 1%;
  margin-right: .5%;
  border: 0;
}

.helpfulDark {
  color: #B6D8C4;
}

.helpful:hover {
  background-color: #7eb4aa;
}

.helpfulDark:hover {
  background-color: #3C7883;
}

.report, .reportDark {
  text-decoration: underline;
  background-color: transparent;
  border: 0;
}

.reportDark {
  color: #B6D8C4;
}

.report:hover{
  background-color: #7eb4aa;
}

.reportDark:hover{
  background-color: #3C7883;
}

.addButtonContainer {
  position: relative;
  display: inline-block;
}

.tempMessage {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -5px);
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  white-space: nowrap;
  z-index: 1;
  animation: fade-out 2s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
