.header {
  margin-top: 50px;
  margin-bottom: 10px;
}

.mainBody {
  margin: auto;
  width: 80%;
}

.button {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #3cad9a;
  border: solid 1px;
  font-weight: 600;
  margin-right: 2%;
  padding: 15px;
}

.button:hover {
  background-color: #4cc6b2;
}

.buttonDark {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #548C93;
  border: solid 1px;
  font-weight: 600;
  margin-right: 2%;
  padding: 15px;
}

.buttonDark:hover {
  background-color: #73A4A3;
}