.body, .bodyDark {
  padding: 30px 30px 10px 30px;
}

.body {
  background: linear-gradient(white, #eff 200px, #9cc);
  color: #0a362e;
}

.bodyDark {
  background: linear-gradient(black, #133a4a 200px, #163051);
  color: #B6D8C4;
}