.RelatedOutfit {
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
  margin: auto;
  padding: 0;
  font-size: 0.8rem;
  /* width: 1183px; */
  width: 80%;
}

.carousel {
  width: 1183px;
  margin: 0;
  min-height: 370px;
}

.related {
  display: flex;
  width: 100%;
  margin: auto;
  position: relative;
}

.relatedCard {
  display: block;
  border: solid 1px black;
  margin: 1% 2% 1% 0;
  box-shadow: 10px 5px 5px grey;
  position: relative;
  min-width: 210px;
  height: 350px;
  background: rgb(172, 233, 222);
  transition: transform .3s linear;
}

.relatedCardDark {
  display: block;
  border: solid 1px #B6D8C4;
  margin: 1% 2% 1% 0;
  box-shadow: 10px 5px 5px #1E556C;;
  position: relative;
  min-width: 210px;
  height: 350px;
  background: #1E556C;
  transition: transform .3s linear;
}

.relatedCard:hover {
  transform: scale(1.025);
  z-index: 1;
}


.relatedCardDark:hover {
  transform: scale(1.025);
  z-index: 1;
}

.outfit {
  display: flex;
  width: 100%;
  margin: auto;
  position: relative;
}

.outfitCard {
  display: block;
  border: solid 1px black;
  margin: 1% 2% 1% 0;
  box-shadow: 10px 5px 5px grey;
  position: relative;
  min-width: 210px;
  height: 350px;
  background: rgb(148, 215, 204);
  transition: transform .3s linear;
}

.outfitCardDark {
  display: block;
  border: solid 1px #B6D8C4;
  margin: 1% 2% 1% 0;
  box-shadow: 10px 5px 5px #1E556C;
  position: relative;
  min-width: 210px;
  height: 350px;
  /* background: #3C7883; */
  background: #1E556C;
  transition: transform .3s linear;
}

.outfitCard:hover {
  transform: scale(1.025);
  z-index: 1;
}

.outfitCardDark:hover {
  transform: scale(1.025);
  z-index: 1;
}

.addCard {
  display: block;
  border: solid 5px black;
  margin: 1% 2% 1% 0;
  box-shadow: 10px 5px 5px grey;
  position: relative;
  /* min-width: 210px; */
  width: 211px;
  height: 350px;
  transition: transform .3s linear;
}

.addCardDark {
  display: block;
  border: solid 5px black;
  margin: 1% 2% 1% 0;
  box-shadow: 10px 5px 5px #1E556C;
  position: relative;
  /* min-width: 210px; */
  width: 211px;
  height: 350px;
  transition: transform .3s linear;
}

.addCard:hover {
  transform: scale(1.025);
}

.addCardDark:hover {
  transform: scale(1.025);
}

.hangerPic {
  margin: auto;
  width: 95%;
  height: 80px;
  background-image: url('../assets/Hanger.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

.addWords {
  margin: auto;
}

.pic {
  min-width: 211px;
  min-height: 221px;
}

.picContainer {
  border-bottom: solid 1px black;
  max-height: 220px;
  /* width: 210px; */
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.picContainerDark {
  border-bottom: solid 1px #B6D8C4;
  max-height: 220px;
  display: flex;
  justify-content: center;
  background-color: #548C93;
}

.name {
  padding: 5px;
  font-size: 15px;
}

.category {
  padding: 5px;
  font-weight: 550;
}

.price {
  padding: 5px;
}

.star {
  padding: 5px;
}

.compareTable {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.tableContent {
  width: 500px;
  background:linear-gradient(white, #eff 200px, #9cc);
}

.tableContentDark {
  width: 500px;
  background: linear-gradient(black, #133a4a 200px, #163051);
}

.tableHead {
  padding:10px;
}

.tableBody {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.tableProd {
  columns: 2;
}

.tableBody {
  columns: 3;
}

.prevRel {
  display: flex;
  position: absolute;
  flex-direction: row;
  /* justify-content: center; */
  /* centers verically */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  align-items: center;
  height: 100%;
  left: 20px;
  font-size: 3rem;
  z-index: 2;
}

.nextRel {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  /* position of div itself relative to container it is inside. flex position of stuff inside the div; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  height: 100%;
  right: 30px;
  font-size: 3rem;
  z-index: 2;
}

.prevOut {
  display: flex;
  position: absolute;
  flex-direction: row;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  align-items: center;
  height: 100%;
  left: 250px;
  font-size: 3rem;
  z-index: 2;
}

.nextOut {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  /* position of div itself relative to container it is inside. flex position of stuff inside the div; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  height: 100%;
  right: 30px;
  font-size: 3rem;
  z-index: 2;
}


.action {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  font-size: 1.25rem;
}

.noPhoto {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  background: whitesmoke;
  color: black;
  font-style: italic;
  letter-spacing: 3px;
  text-shadow: none;
  -webkit-text-stroke: 0;
  /* width: 100%; */

  min-width: 210px;
  height: 220px;
  /* border-bottom: solid 1px black; */
  /* border: '1px solid #111', */
  text-align: center;
  justify-content: center;
}

.noPhotoDark {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  background: #548C93;
  font-style: italic;
  letter-spacing: 3px;
  text-shadow: none;
  -webkit-text-stroke: 0;
  /* width: 100%; */

  min-width: 211px;
  height: 220px;
  /* border-bottom: solid 1px black; */
  /* border: '1px solid #111', */
  text-align: center;
  justify-content: center;
}

.none {
  display: none;
}

.stars {
  --percent: calc(var(--rating) * 20%);
  display: inline-block;
  font-size: 1.5em;
  font-family: Times;
  line-height: 1;
}

.stars:before {
  content: '★★★★★';
  letter-spacing: 1px;
  background: linear-gradient(90deg, gold var(--percent), #548C93 var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #0a362e;
}

.starsDark {
  --percent: calc(var(--rating) * 20%);
  display: inline-block;
  font-size: 1.5em;
  font-family: Times;
  line-height: 1;
}

.starsDark:before {
  content: '★★★★★';
  letter-spacing: 1px;
  background: linear-gradient(90deg, gold var(--percent), #1E556C var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #B6D8C4;
}

.starContainer {
  padding: 5px;
}