.RelatedOutfit {
  box-sizing: border-box;
  /* color: #111; */
  font-family: "Tahoma", sans-serif;
  margin: auto;
  /* overflow-x: hidden; */
  padding: 0;
  font-size: 0.8rem;
  width: 1183px;
}
.carousel {
  /* width: 900px; */
  margin: auto;
}

.related {
  display: flex;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.relatedCard {
  display: block;
  border: solid 1px black;
  margin: 1%;
  box-shadow: 10px 5px 5px grey;
  position: relative;
  min-width: 210px;
  height: 350px;
  background: rgb(172, 233, 222);
}

.relatedCardDark {
  display: block;
  border: solid 1px #B6D8C4;
  margin: 1%;
  box-shadow: 10px 5px 5px #1E556C;;
  position: relative;
  min-width: 210px;
  height: 350px;
  /* background: #3C7883; */
  background: #1E556C;
}

.hoverMe:hover {
  border: solid 1px black;
  /* margin: 1%; */
  box-shadow: 10px 5px 5px grey;
  position: relative;
  min-width: 210px;
  height: 350px;
  background: rgb(172, 233, 222);
  transform: scale(1.025);
  z-index: 1;
}

.hoverMeDark:hover {
  border: solid 1px #B6D8C4;
  /* margin: 1%; */
  box-shadow: 10px 5px 5px #1E556C;
  position: relative;
  width: 210px;
  height: 350px;
  /* background: #3C7883; */
  background: #1E556C;
  transform: scale(1.025);
  z-index: 1;
}

.outfit {
  display: flex;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  transition: all .3s linear;
}

.outfitCard {
  display: block;
  border: solid 1px black;
  margin: 1%;
  box-shadow: 10px 5px 5px grey;
  position: relative;
  min-width: 210px;
  height: 350px;
  background: rgb(148, 215, 204);
  transition: all .3s linear;
}

.outfitCardDark {
  display: block;
  border: solid 1px #B6D8C4;
  margin: 1%;
  box-shadow: 10px 5px 5px #1E556C;
  position: relative;
  min-width: 210px;
  height: 350px;
  /* background: #3C7883; */
  background: #1E556C;
}

/* breaks the click */
.outfitCard:hover {
  transform: scale(1.025);
  z-index: 1;
}

.outfitCardDark:hover {
  transform: scale(1.025);
  z-index: 1;
}

.addCard {
  display: block;
  border: solid 5px black;
  margin: 1%;
  box-shadow: 10px 5px 5px grey;
  position: relative;
  min-width: 210px;
  height: 350px;
  background-image: url('../assets/Hanger.png');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position-x: center;
  /* background-position-y: center; */
  background-position-y: 70px;
}

.addCardDark {
  display: block;
  border: solid 5px black;
  margin: 1%;
  box-shadow: 10px 5px 5px #1E556C;
  position: relative;
  min-width: 210px;
  height: 350px;
  background-image: url('../assets/Hanger.png');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position-x: center;
  /* background-position-y: center; */
  background-position-y: 70px;
}

.addCard:hover {
  transform: scale(1.025);
}

.addCardDark:hover {
  transform: scale(1.025);
}

.addWords {
  position: absolute;
  font-size: x-large;
  top: 220px;
}

/* .hanger {
  position: absolute;
  height: 125px;
  width: 183px;
  z-index: 1;
  top: 35px;
  left: 24px;
  background-color: transparent;
}
.hanger:hover {
  transform: scale(1.025);
} */

.pic {
  /* max-height: 220px; */
  /* background-color: black; */
  min-width: 211px;
  min-height: 221px;
  /* width: 100%;
  height: 100%; */
}

.picContainer {
  border-bottom: solid 1px black;
  /* max-height: 192px; */
  max-height: 220px;
  /* max-height: 100%; */
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.picContainerDark {
  border-bottom: solid 1px #B6D8C4;
  /* max-height: 192px; */
  max-height: 220px;
  /* max-height: 100%; */
  display: flex;
  justify-content: center;
  background-color: #548C93;
}

.name {
  padding: 5px;
  /* font-weight: bold; */
}

.category {
  padding: 5px;
  font-weight: 550;
}

.price {
  padding: 5px;
}

.star {
  padding: 5px;
}

.compareTable {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.tableContent {
  width: 500px;
  background:linear-gradient(white, #eff 200px, #9cc);
}

.tableContentDark {
  width: 500px;
  background: linear-gradient(black, #133a4a 200px, #163051);
}

.tableHead {
  padding:10px;
}

.tableBody {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.tableProd {
  columns: 2;
}

.tableBody {
  columns: 3;
}

.prevRel {
  display: flex;
  position: absolute;
  flex-direction: row;
  /* justify-content: center; */
  /* centers verically */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  align-items: center;
  height: 100%;
  left: 20px;
  font-size: 3rem;
  z-index: 2;
}

.nextRel {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  /* position of div itself relative to container it is inside. flex position of stuff inside the div; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  height: 100%;
  right: 30px;
  font-size: 3rem;
  z-index: 2;
}

.prevOut {
  display: flex;
  position: absolute;
  flex-direction: row;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  align-items: center;
  height: 100%;
  left: 250px;
  font-size: 3rem;
  z-index: 2;
}

.nextOut {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  /* position of div itself relative to container it is inside. flex position of stuff inside the div; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  height: 100%;
  right: 30px;
  font-size: 3rem;
  z-index: 2;
}


.action {
  /* position: relative;
  top: 0;
  right: 0; */
  /* float: right; */
  /* display: inline-block;
  vertical-align: top; */
  /* object-position: 5px, 10%; */
  /* display: flex; */
  position: absolute;
  /* background: transparent; */
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  font-size: 1.25rem;
  /* border: 3px solid; */
}

.noPhoto {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  background: whitesmoke;
  font-style: italic;
  letter-spacing: 3px;
  text-shadow: none;
  -webkit-text-stroke: 0;
  /* width: 100%; */

  min-width: 211px;
  height: 220px;
  /* border-bottom: solid 1px black; */
  /* border: '1px solid #111', */
  text-align: center;
  justify-content: center;
}

.noPhotoDark {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  background: #548C93;
  font-style: italic;
  letter-spacing: 3px;
  text-shadow: none;
  -webkit-text-stroke: 0;
  /* width: 100%; */

  min-width: 211px;
  height: 220px;
  /* border-bottom: solid 1px black; */
  /* border: '1px solid #111', */
  text-align: center;
  justify-content: center;
}

.none {
  display: none;
}

.stars {
  --percent: calc(var(--rating) * 20%);
  display: inline-block;
  font-size: 1.5em;
  font-family: Times;
  line-height: 1;
}

.stars:before {
  content: '★★★★★';
  letter-spacing: 1px;
  background: linear-gradient(90deg, gold var(--percent), #548C93 var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #0a362e;
}

.starsDark {
  --percent: calc(var(--rating) * 20%);
  display: inline-block;
  font-size: 1.5em;
  font-family: Times;
  line-height: 1;
}

.starsDark:before {
  content: '★★★★★';
  letter-spacing: 1px;
  background: linear-gradient(90deg, gold var(--percent), #1E556C var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #B6D8C4;
}